{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Waiting List{% endblock %}

{% block body_class %}home{% endblock %}

{% block wrapper_class %}site-wrapper{% endblock %}

{% block body_base %}
    <div class="site-wrapper-inner">
        <div class="poster ">
            <div class="logo">ShortCrew</div>
          
           
        </div>

         <div class="platform">

       <div class="row" style="margin-top:10% ;margin-bottom:10%"> 

<div class=" col-md-offset-1 col-md-10">
        <div class="row">
  <div class="col-md-4">

    <div class="row">

        <i class="fa fa-search fa-5x" aria-hidden="true"></i>

    </div>


  </div>
  <div class="col-md-4">

     <div class="row">

        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
    </div>



  </div>
  <div class="col-md-4">

     <div class="row">

        <i class="fa fa-share-alt fa-5x" aria-hidden="true"></i>

    </div>



  </div>
 
</div>
</div>

        </div>
        </div>
        <div class="sign-up" >
                  <div class="inner cover"id="cover-container" >
                <h1 class="cover-heading" style="margin-bottom:10px;">Sign up on our waiting list!</h1>
              
                {% if form.email.errors %}
                    <b>{{ form.email.errors.0 }}</b>
                {% endif %}
                {% url "pinax_waitinglist:list_signup" as url %}
                <form method="POST" action="{{ url }}" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only" for="id_email">Email address</label>
                        <input type="email" name="email" class="form-control input-lg" id="id_email" placeholder="your@email.com">
                    </div>
                    <button class="btn btn-default btn-lg">Submit</button>
                </form>
            </div>
        </div>
       
         <div >
                <div class="inner">
                    <p>{% include "_footer.html" %}</p>
                </div>
            </div>
    </div>


{% endblock %}

{% block footer_base %}{% endblock %}
